* {
    box-sizing: border-box;
}

body {
    max-width: 960px;
    margin: 0 auto;
}

body, #sandwich, #animal{
    background-color: rgb(88, 164, 176);
}

/*navbar*/
ul {
    background-color: rgb(231, 231, 231);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    align-content: center;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(53, 187, 240);
  }
  
  .active {
    background-color: #a09fca;
  }
  /*end of navbar*/

h1 {
    color: rgb(30, 56, 136);
    font-size: 48px;
    text-align: center;
    text-transform: capitalize;
}

img,
.video iframe {
    display: block;
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    width: 40%;
}

span {
    background-color: #ffffff;
    padding: 20px;
}

.part1,
.part2 h2,
.more,
.video h2 {
    text-align: center;
}

.part1 a {
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px;
}

.fb{
    font-weight: bold;
}

ol, ul, .column table {
    padding-left: 4em;
}

.column {
    background-color: rgb(143, 143, 143);
    margin-top: 100px;
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 400px;
}

.column h2{
    text-decoration: underline;
}

.part2 {
    margin-top:-10px;
    background-color: #d1d0d0;
    padding: 25px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

table{
    align-content: center;
}

td,
th {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 15px;
}

tr {
    background-color: #eca3a3;
}

tr:nth-child(even) {
    background-color: #faefef;
}

.more {
    padding: 50px;
}

.more div a:after {
    content: "";
    display: block;
    height: 0;
    width: 1px;
    padding-bottom: 25px;
}