* {
    box-sizing: border-box;
}

body {
    max-width: 1680px;
    margin: 0 auto;
    padding: 50px;
    background-color: rgb(88, 164, 176);
}

h1 {
    color: rgb(30, 56, 136);
    font-size: 48px;
    text-align: center;
    text-transform: capitalize;
}

img {
    margin-bottom: 30px;
}

img,
.video iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.part1,
.part2 h2,
.more,
.video h2 {
    text-align: center;
}

.part1 a {
    padding: 20px;
    text-transform: capitalize;
}

.fb{
    font-weight: bold;
}

ol, ul, .column table {
    padding-left: 8em;
}

.column {
    margin-top: 100px;
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 400px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

td,
th {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 15px;
}

tr {
    background-color: #eca3a3;
}

tr:nth-child(even) {
    background-color: #faefef;
}

.more div a:after {
    content: "";
    display: block;
    height: 0;
    width: 1px;
    padding-bottom: 25px;
}